@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Celeste: #2a8dff
 * background: #0a045f
 * purpura: #7600fc
 * Azul Oscuro: #000093
 *
 */


body {
  background-color: #0a045f;
  color: white;
}